In [1]:
# Import pandas
import pandas as pd

# 1. Load the Data
df = pd.read_csv('factory_orders.csv')

In [3]:
# --- 2. Initial Inspection ---
print("--- 2a: First 3 Rows ---")
print(df.head(3))

--- 2a: First 3 Rows ---
   OrderID  Product  Color  Quantity  UnitPrice CustomerID
0  ORD1001  T-Shirt    Red        50        350     CUST01
1  ORD1002     Polo   Blue        30        550     CUST02
2  ORD1003   Hoodie  Black        25        800     CUST01

In [5]:
print("\n--- 2b: Shape of Data ---")
print(df.shape)

--- 2b: Shape of Data ---
(9, 6)

In [7]:
print("\n--- 2c: Technical Summary (info) ---")
df.info()

--- 2c: Technical Summary (info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     9 non-null      object
 1   Product     9 non-null      object
 2   Color       9 non-null      object
 3   Quantity    9 non-null      int64
 4   UnitPrice   9 non-null      int64
 5   CustomerID  9 non-null      object
dtypes: int64(2), object(4)
memory usage: 564.0+ bytes

In [9]:
# --- 3. Statistical Summary ---
print("\n--- 3: Statistical Summary (describe) ---")
print(df.describe())

--- 3: Statistical Summary (describe) ---
        Quantity   UnitPrice
count   9.000000    9.000000
mean   42.777778  516.666667
std    17.697300  185.404962
min    20.000000  350.000000
25%    30.000000  350.000000
50%    40.000000  550.000000
75%    50.000000  550.000000
max    75.000000  800.000000

In [11]:
# --- 4. Descriptive Statistics (Answering Questions) ---
print("\n--- 4: Answering Questions ---")

--- 4: Answering Questions ---

In [13]:
# What is the average quantity of items per order?
avg_quantity = df['Quantity'].mean()
print(f"Average Quantity per Order: {avg_quantity}")

Average Quantity per Order: 42.77777777777778

In [15]:
# What is the total number of items sold across all orders?
total_items = df['Quantity'].sum()
print(f"Total Items Sold: {total_items}")

Total Items Sold: 385

In [17]:
# What is the most expensive single UnitPrice?
max_price = df['UnitPrice'].max()
print(f"Most Expensive Unit Price: ₹{max_price}")

Most Expensive Unit Price: ₹800

In [19]:
# How many orders were there for each Product?
product_counts = df['Product'].value_counts()
print("\nOrders per Product:")
print(product_counts)

Orders per Product:
Product
T-Shirt    4
Polo       3
Hoodie     2
Name: count, dtype: int64

In [25]:
# --- 5. Slicing and Indexing ---
print("\n--- 5: Slicing and Indexing ---")

# Select and display only the 'Product' and 'CustomerID' columns
product_and_customer = df[['Product', 'CustomerID']]
print("\nProduct and Customer Columns:")
print(product_and_customer)

--- 5: Slicing and Indexing ---

Product and Customer Columns:
   Product CustomerID
0  T-Shirt     CUST01
1     Polo     CUST02
2   Hoodie     CUST01
3  T-Shirt     CUST03
4     Polo     CUST04
5  T-Shirt     CUST02
6   Hoodie     CUST05
7  T-Shirt     CUST03
8     Polo     CUST01

In [27]:
# Select and display the order details for the row at index 4
row_4 = df.loc[4]
print(f"\nOrder at index 4:\n{row_4}")

Order at index 4:
OrderID       ORD1005
Product          Polo
Color           Black
Quantity           40
UnitPrice         550
CustomerID     CUST04
Name: 4, dtype: object

In [29]:
# Select and display the Color for the order at index 2 (using .loc[])
color_2 = df.loc[2, 'Color']
print(f"\nColor at index 2: {color_2}")

Color at index 2: Black

In [31]:
# Select and display the order at integer position 0 (using .iloc[])
row_pos_0 = df.iloc[0]
print(f"\nOrder at integer position 0:\n{row_pos_0}")

Order at integer position 0:
OrderID       ORD1001
Product       T-Shirt
Color             Red
Quantity           50
UnitPrice         350
CustomerID     CUST01
Name: 0, dtype: object